{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/borrowedBooks.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Borrowed Page</title>
</head>

<body>

    <header>
        <a href="{% url 'userpage' %}" class="logo">
            <img src="{% static 'Pics/book.svg' %}" alt="Weblogo">
            <span style="color: #0f172a;">Libraria</span>
        </a>

        <nav id="navbar">
            <a href="{% url 'userpage' %}">Home</a>
            <a href="{% url 'viewbooks' %}">Books</a>
            <a href="{% url 'borrowed' %}">My Borrowed Books</a>
            <a href="{% url 'logout' %}" class="button">Log out</a>
        </nav>
    </header>

    <main class="userBooks">

        <h2>Currently Borrowed</h2>

        <div class="borrowed">
            <div class="cards">

                {% for borrowed in borrow_records %}

                <div class="card">
                    <div class="card-content">
                        {% if borrowed.book.cover %}
                        <img src="{{ borrowed.book.cover.url }}" alt="{{ borrowed.book.title }}">
                        {% endif %}

                        <h3>{{ borrowed.book.title }}</h3>
                        <p>Category: {{ borrowed.book.get_category_display }}</p>
                        <p>Borrow Date: {{ borrowed.borrowed_at|date:"d M Y - H:i" }}</p>
                        <p>Due Date: {{ borrowed.due_date|date:"d M Y - H:i" }}</p>

                        <form action="{% url 'returnbook' borrowed.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Return</button>
                        </form>
                        <form action="{% url 'favtoggle' borrowed.book.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Fav</button>
                        </form>
                    </div>
                </div>
                        {% empty %}
                        <p>No borrowed books to show.</p>

                {% endfor %}
            </div>
        </div>


        <h2>Reading History</h2>

        <div class="history">
            <div class="cards">

                {% for read in reading_records %}

                <div class="card">
                    <div class="card-content">
                        {% if read.book.cover %}
                        <img src="{{ read.book.cover.url }}" alt="{{ read.book.title }}">
                        {% endif %}

                        <h3>{{ read.book.title }}</h3>
                        <p>Category: {{ read.book.get_category_display }}</p>
                        <p>Borrow Date: {{ read.borrowed_at|date:"d M Y - H:i" }}</p>
                        <p>Return Date: {{ read.returned_at|date:"d M Y - H:i" }}</p>
                        
                        <form action="{% url 'favtoggle' read.book.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Fav</button>
                        </form>
                    </div>
                </div>
                        {% empty %}
                        <p>No reading history yet.</p>

                {% endfor %}
            </div>
        </div>

        
        <h2>Favorites</h2>

        <div class="favourites">
            <div class="cards">

                {% for fav in fav_records %}

                <div class="card">
                    <div class="card-content">
                        {% if fav.book.cover %}
                        <img src="{{ fav.book.cover.url }}" alt="{{ fav.book.title }}">
                        {% endif %}

                        <h3>{{ fav.book.title }}</h3>
                        <p>Category: {{ fav.book.get_category_display }}</p>
                        <p>Added At: {{ fav.added_at|date:"d M Y - H:i" }}</p>

                        <form action="{% url 'favtoggle' fav.book.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Fav</button>
                        </form>
                    </div>
                </div>

                        {% empty %}
                        <p>No books are added to favorites.</p>

                {% endfor %}                
            </div>
        </div>
        
    </main>

    <script src="{% static 'js/listofborrowedbooks.js' %}"></script>
</body>

</html>
